<div class="columns">
  <div class="column">
    <p>Dans l'ordre du Pokédex :</p>
    <p>{{compte}} Pokémons en base de données</p> 
   @if (pokemonSelectionne) {
   <p>Le Pokémon sélectionné 
est : {{pokemonSelectionne}}</p> }
  </div>
</div>
<div class="columns is-multiline">
  @for (pokemon of pokemons; track pokemon.id) {
  <ul class="menu-list column is-one-third">
    <li>
      <app-pokemon 
    [pokemon]="pokemon" 
    (evenementClicImage)="pokemonSelectionne=$event">
  </app-pokemon>
    </li>
  </ul>
  }
</div>
